/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/

html,
body {
  width: 100vw;
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--size-body);
  font-weight: 300;
  color: black;
  overflow-x: hidden;

}

#root,
#__next {
  isolation: isolate;
}

:root {
  --size-body: 18px;
  --gradient2: linear-gradient(to bottom, rgb(0, 30, 96), #0027ff, yellow, red);
  --size-h1: 3.2rem;
  --size-h2: 2rem;
  --size-h3: 1.3rem;
  --size-caption: 0.7rem;
  --gap: 2rem;
}


.container {
  overflow-x: hidden;
  width: calc(100vw- var(--gap));
  margin-top: calc(var(--gap)*8);
  margin-left: var(--gap);
  margin-right: var(--gap);
  display: grid;
  justify-content: center;
}

.title-thesis {
  width: 100%;
  font-size: var(--size-h1);
  color: blue;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  margin-bottom: calc(var(--gap)*3);
}

.title-thesis {
  filter: drop-shadow(0.07em 0.07em red);
}

.headline {
  position: relative;
  text-align: center;
  width: fit-content;
  height: 80px;
  margin-top: calc(var(--margin)*2);
  font-size: var(--size-h2);
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(var(--gap)/2);
}

.headline p {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: .5rem;
}

.textblock {
  position: relative;
  display: block;
  padding-bottom: calc(var(--gap)*2);
  width: 80%;
  justify-self: center;
  font-weight: 400;
  z-index: 3;
  background-color: white;

}

.citation {
  font-weight: bold;
  padding: 2em;
  line-height: 1.6em;
  border: 1px solid;
  background-color: #fcfc9a;
  width: 50%;
  margin-bottom: calc(var(--gap)*2);
  margin-left: auto;
  margin-right: auto;
}

.caption {
  margin: 0;
  padding: 1em;
  line-height: 1.6em;
  float: right;
  color: grey;
  font-size: 0.5em;
}

.caption a {
  text-decoration: none;
  color: grey;
}

.hypertext {
  position: absolute;
  height: auto;
  width: 5rem;
  font-size: var(--size-caption);
  word-wrap: break-word;
  margin-block-end: 20%;
  animation: float;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  right: -5rem;
}

@keyframes float {
  0% {
    transform: translatey(10px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(10px);
  }
}


.picture {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--gap);
  width: 800px;
}

.picture .caption {
  margin: 20px;
  font-weight: thin;
  float: right;
  color: grey;
  font-size: 0.5em;
}

.picture2 {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.knockoff {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.knockoff div {
  height: 400px;
}

.knockoff div img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bcontainer {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.bubble {
  position: relative;
  width: fit-content;
  margin-bottom: 40px;
  padding: 15px;
  line-height: 24px;
  border-radius: 40px;
  text-align: center;
  font-size: 0.6em;
  background: chartreuse;
  color: #000;
}

.bubble:before,
.bubble:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}

.speech:after {
  border: 15px solid;
  border-color: chartreuse transparent transparent chartreuse;
}

.title2 {
  position: relative;
  text-align: center;
  width: fit-content;
  height: 80px;
  margin-top: calc(var(--margin)*2);
  font-size: var(--size-h3);
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(var(--gap)/2);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: .5rem;
}


.menu {
  position: fixed;
  top: 3%;
  left: 0;
  margin-left: 40px;
  z-index: 2;
}

.spectrum {
  margin: 0;
  height: 400px;
  width: 10px;
  position: absolute;
  background: var(--gradient2);
  position: relative;
}

.menu ul {
  width: 200px;
  height: 400px;
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 40px;
}

.menu li {
  font-size: 10px;
  letter-spacing: 0.05rem;
}

.menu a {
  text-decoration: none;
  color: #000;
}